[general]
debug=0
logfile=/var/log/asterisk/queue_ari.log
strategy=leastrecent
queue_timeout=60
extension_ringtime=15
moh=default

[ari]
user=yourAriUser
password=yourAriSecret

[db]
type=dbpgsql
host=yourPostgreSQLServer
name=queue_ari
user=queue_ari
password=secret
