[general]
strategy=leastrecent
queue_timeout=60
extension_ringtime=15
moh=default

[logs]
debug=0
app_logfile=/var/log/asterisk/queue_ari.log
queue_logfile=/var/log/asterisk/queue_log.log
; csv or json
queue_logtype=json

[tools]
xmpp=0
statsd=0

[ari]
user=yourAriUser
password=yourAriSecret

[db]
type=dbpgsql
host=yourPostgreSQLServer
name=queue_ari
user=queue_ari
password=secret

[xmpp]
name=asterisk
resource=asteriskResource
; all - send callerid message to all queue members
; free - send callerid message to free queue members
; extensions - send callerid message just to extensions
send=extension
